<div class="beavers-crafting actor-tab">
  <div class="crafting-tab-container">
    <div class="crafting-tab-header">
      <h3 class="flexrow header beavers-line">
        <div class="scale">{{localize "beaversCrafting.actorSheet.table.name"}}</div>
        <div class="attribute" style="min-width:150px;text-align:center;">{{localize "beaversCrafting.actorSheet.table.progress"}}</div>
        <div class="attribute" style="min-width:100px;text-align:center">{{localize "beaversCrafting.actorSheet.table.status"}}</div>
        <div class="attribute" style="min-width:50px"><i class="fas fa-cog"></i></div>
      </h3>
    </div>

    <div class="crafting-tab-content">
      <div class="beavers-crafting-item add-recipe-section">
        <div class="flexrow beavers-line" style="line-height:24px;text-align:right">
          <a class="addCrafting">
            <div class="crafting-rollIcon">
              <i class="fa-solid fa-circle-plus"></i>
              <span>{{localize "beaversCrafting.actorSheet.table.add" }}</span>
            </div>
          </a>
        </div>
      </div>

      <div class="beavers-seperator"></div>

      <div class="crafting-list-scroll">
        {{>beavers-folders renderTemplate="beavers-actor-folder-item"}}
      </div>
    </div>
  </div>
</div>