<div class="flexcol recipe-description" style="padding:10px; gap:15px;">
    {{!-- Folder --}}
    <div class="form-group">
        <label class="header" title="{{localize "beaversCrafting.recipe.folderHint"}}">
            {{localize "beaversCrafting.recipe.folder"}}
        </label>
        <input {{#unless editable}}disabled{{/unless}}
               placeholder="folder.subfolder"
               type="text"
               name="flags.beavers-crafting.recipe.folder"
               value="{{recipe.folder}}"/>
    </div>

    {{!-- Description/Instructions --}}
    <div class="form-group" style="flex:1;">
        <label class="header">Description / Instructions</label>
        <div class="section" style="min-height:200px; max-height:400px; overflow-y:auto;">
            <prose-mirror {{#unless editable}}disabled{{/unless}}
                         name="flags.beavers-crafting.recipe.instruction"
                         value="{{recipe.instruction}}">
            </prose-mirror>
        </div>
    </div>
</div>